<div class="pure-u-1 pure-u-lg-12-12 post-meta pure-hide-phone pure-hide-smart-phone">

    <span>by </span><a rel="nofollow" href="{% url "profile_with_name" article.author.username %}">{{ article.author.username }}</a><span>, {{ article.created_date_time|timesince }} ago, under</span>
    {% for tag in article.tags.names %}
        <a rel="nofollow" href="{% url 'blog:blog_list_tag' tag %}" class="post-category post-category-design">{{ tag }}</a>
    {% endfor %}
    {% if sections.count > 1 %}
        <span class="s-trig pure-button-primary" data-sec-id="{{ article.id }}">View Summary</span>
    {% endif %}
    {% if request.user.is_superuser or perms.blog.change_article and request.user == article.author %}
        <a rel="nofollow" class="rb pure-button-primary" href="{% url 'blog:blog_update' article.slug %}">Edit Post</a>
    {% endif %}
</div>