{% if sections.count > 1 %}
    <footer class="post-summary {{ display }}" id="summary_{{ article.id }}">
        {% for section in sections %}
            {% if not forloop.first %}
                <div>
                    <a rel="nofollow" class="title" href="{% url "blog:blog_detail" article.slug %}#section_{{ section.section_order }}">{{ section.title }}</a>
                    {% include "votes.html" %}
                </div>
            {% endif %}
        {% endfor %}
    </footer>
{% endif %}