{% extends "base.html" %}
{% load static crispy_forms_tags thumbnail %}
{% load url from future %}
{% load disqus_tags %}
{% disqus_dev %}

{% block extra_js %}
    {{ form.media }}
{% endblock extra_js %}


{% block main %}
    {% with article.articlesection_set.all as sections %}
        <article class="post">
            {% for section in sections %}
                <section class="pure-u-1 s" id="section_{{ section.section_order }}">
                    {% if forloop.first %}
                        <header>
                            <h1 class="s-t">{{ section.title }}</h1>
                            {% include "includes/post_meta.html" %}
                        </header>
                        {% thumbnail article.image "1280x480" crop="top" as im %}
                            <img src="{{ im.url }}">
                        {% endthumbnail %}

                        {% with "show" as display %}
                            {% include "includes/section_summary.html" %}
                        {% endwith %}
                    {% else %}
                        <header>
                            <h2 class="s-t">{{ section.title }}</h2>
                        </header>
                    {% endif %}
                    <div class="s-d">
                        <p>{{ section.content|safe }}</p>
                    </div>
                    <footer>
                        <div class="l-u-b">
                            <!-- likes inlikes wrapper -->
                            <span class="likes">100</span>
                            <span class="unlikes">178</span>
                            <span class="like">Like</span>
                            <span class="unlike">UnLike</span>
                        </div>
                    </footer>
                </section>
            {% endfor %}
        </article>
        {% disqus_show_comments %}
    {% endwith %}
{% endblock main %}
