{% extends "base.html" %}
{% load static crispy_forms_tags %}
{% load url from future %}

{% block extra_js %}
    {{ form.media }}
{% endblock extra_js %}


{% block main %}
    {% for section in article.articlesection_set.all %}
        <div class="pure-u-1">
            {% if forloop.first %}<h1>{% else %}<h2>{% endif %}
                {{ section.title }}
            {% if forloop.first %}</h1>{% else %}</h2>{% endif %}
        </div>
        <div class="pure-u-1">
            <p>{{ section.content|safe }}</p>
        </div>
    {% endfor %}
{% endblock main %}
