{% extends "base.html" %}
{% load static crispy_forms_tags thumbnail %}
{% load url from future %}
{% load disqus_tags %}
{% load seo %}
{% disqus_dev %}

{% block meta_data %}{% get_metadata_from_str article.title article.tags.names article.title "article" article.get_absolute_url %}{% endblock meta_data %}
{% block extra_js %}
    {{ form.media }}
{% endblock extra_js %}

{% block page_title %}{{ article.title }}{% endblock page_title %}

{% block main %}
    {% with article.articlesection_set.all as sections %}
        <article class="post" id="{{ article.id }}">
            {% for sec in sections %}
                <section class="pure-u-1 s" id="section_{{ sec.section_order }}">
                    {% if forloop.first %}
                        <header>
                            <h1 class="s-t">{{ sec.title }}</h1>
                            {% include "includes/post_meta.html" %}
                        </header>

                        {% with "hide" as display %}
                            {% include "includes/section_summary.html" %}
                        {% endwith %}
                        {% thumbnail article.image "1280x480" crop="top" as im %}
                            <img src="{{ im.url }}" class="pure-img" id="article-img">
                        {% endthumbnail %}
                    {% else %}
                        <header class="header1">
                            <h2 class="s-t pure-u-xl-10-12 pure-u-lg-9-12">{{ sec.title }}</h2>
                            <div class="sec-lu pure-hide-smart-phone pure-u-xl-2-12 pure-u-lg-3-12" article_id="{{ article.id }}" sec_id="{{ sec.id }}">
                                <span class="icon-thumbsup like" data-type="1"></span>
                                <span class="likes">{{ sec.likes }}</span>
                                <span class="icon-thumbsdown unlike" data-type="0"></span>
                                <span class="unlikes">{{ sec.unlikes }}</span>
                            </div>
                        </header>
                    {% endif %}
                    <div class="s-d">
                        {{ sec.content|safe }}
                    </div>
                </section>
            {% endfor %}
            {% with sections.0 as section %}
                {% include "share_buttons.html" %}
            {% endwith %}
        </article>
        {% comment %}{% disqus_show_comments %}{% endcomment %}
    {% endwith %}
{% endblock main %}
