{% extends "base.html" %}
{% load static crispy_forms_tags thumbnail %}
{% load url from future %}

{% block extra_js %}
    {{ form.media }}
{% endblock extra_js %}


{% block main %}
    {% block heading %}<h1 class="pure-u-1">Articles</h1>{% endblock heading %}
    {%  block content %}
        {% if articles %}
            {% for article in articles %}
                {% with article.articlesection_set.all as sections %}
                <article class="post">
                    <div class="pure-u-1">
                        <div class="pure-u-md-4-12 pure-u-lg-3-12 ls pure-hide-phone pure-hide-smart-phone">
                            {% if article.image|is_portrait %}
                                {% thumbnail article.image "300x200" crop="smart" as im %}
                                        <img src="{{ im.url }}" class="pure-img" style="padding:{{ im|margin:"300x200" }}">
                                {% endthumbnail %}
                            {% else %}
                                {% thumbnail article.image "300x200" as im %}
                                        <img src="{{ im.url }}" class="pure-img" style="padding:{{ im|margin:"300x200" }}">
                                {% endthumbnail %}
                            {% endif %}
                        </div>
                        <div class="pure-u-md-8-12 pure-u-lg-9-12 rs">
                            <header class="post-header">
                                <h2 class="post-title"><a href="{% url "blog:blog_detail" article.slug %}">{{ sections.0.title }}</a></h2>
                                {% include "includes/post_meta.html" %}
                            </header>
                            <div class="post-description">
                                {{ sections.0.content|truncatewords:20|safe }}
                            </div>
                            <span class="s-trig">Show Summary</span>
                            {% with "hidden" as display %}
                                {% include "includes/section_summary.html" %}
                            {% endwith %}
                        </div>
                    </div>
                </article>
                {% endwith %}
            {% endfor %}
        {% else %}
            <section>No articles yet.</section>
        {% endif %}
        {% include "includes/paginate.html" %}
    {% endblock content %}
    {% block sidebar %}

    {% endblock sidebar %}
{% endblock main %}
