{% load crispy_forms_tags %}

{% block content %}
    {% if ajax %}
        <div class="ajax-content-wrap">
    {% endif %}
    <div class="pure-u-1 pure-u-md-6-12 pure-u-lg-5-12 ls">
        <h2>Login</h2>
        <form action="{% if ajax %}{% url 'popup_login' %}{% else %}{% url 'regular_login' %}{% endif %}?next={% firstof next_page request.path '/' %}" method="post" id="loginform">
            {% csrf_token %}
            {% crispy form.0 %}
        </form>
        <p>
            <a href="{% url 'social:begin' 'google-oauth2' %}" class="pure-button">
                <i class="fa fa-user"></i> Login with <span class="icon-google-plus"></span>
            </a>
            <a href="{% url 'social:begin' 'twitter' %}" class="pure-button">
                <i class="fa fa-user"></i> Login with <span class="icon-twitter"></span>
            </a>
        </p>
    </div>
    <div class="pure-u-1 pure-u-md-6-12 pure-u-lg-7-12 rs">
        <h2>Register</h2>
        <form action="{% if ajax %}{% url 'popup_login' %}{% else %}{% url 'regular_login' %}{% endif %}?next={% firstof next_page request.path '/' %}" method="post" id="registerform">
            {% csrf_token %}
            {% crispy form.1 %}
        </form>
    </div>
    <div>
    </div>
    {% if ajax %}
        </div>
    {% endif %}
{% endblock content %}