<meta name="description" content="{{ meta_description }}">
<meta name="keywords" content="{{ meta_keywords }}">
{% if meta.site_url %}
    <link rel="canonical" href="{{ meta.site_url }}">
{% endif %}
<meta property="og:title" content="{{ page_title }}">
<meta property="og:type" content="{{ og_type }}">
{% if meta.site_url %}
    <meta property="og:url" content="{{ meta.site_url }}">
{% endif %}

{% if meta.site_name %}
    <meta property="og:site_name" content="{{ meta.site_name }}">
{% endif %}

<!-- <meta name="google-site-verification" content="7JgyWgCnJ0p6cMe5IDgN04oFCKsoUZicRDKzE0X_yGg"> !-->

{% if meta.site_bitly_verification %}
    <meta name="bitly-verification" content="{{ meta.site_bitly_verification }}">
{% endif %}

<!-- <meta name="p:domain_verify" content="fb69533f2acad78bdd89abf093c35a28"> -->
<!-- <meta name="msvalidate.01" content="5ABD8A078F3356F3A6A8C8643C31FB8F"> -->

<meta name="apple-mobile-web-app-status-bar-style" content="black">

{% if meta.site_name %}
    <meta name="application-name" content="{{ meta.site_name }}">
{% endif %}

{% if meta.site_fb_admins %}
    <meta property="fb:admins" content="{{ meta.site_fb_admins }}">
{% endif %}

<meta property="og:title" content="{{ page_title }}">
<!--
<meta name="msapplication-TileColor" content="#3498db">
<meta name="msapplication-TileImage" content="//www.blogsmithmedia.com/www.engadget.com/media/mstile-144x144.png">
<meta name="msapplication-square70x70logo" content="//www.blogsmithmedia.com/www.engadget.com/media/mstile-70x70.png">
<meta name="msapplication-square150x150logo" content="//www.blogsmithmedia.com/www.engadget.com/media/mstile-150x150.png">
<meta name="msapplication-wide310x150logo" content="//www.blogsmithmedia.com/www.engadget.com/media/mstile-310x150.png">
<meta name="msapplication-square310x310logo" content="//www.blogsmithmedia.com/www.engadget.com/media/mstile-310x310.png">
-->
<meta name="apple-touch-fullscreen" content="yes">