{% load staticfiles %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>
            {% block page_title %}

            {% endblock page_title%}
        </title>

        {% block base_css %}
            <link rel="stylesheet" href="{% static 'css/normalize.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/pure.css' %}">
            <link rel="stylesheet" href="{% static 'css/main.css' %}">
            <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400' rel='stylesheet' type='text/css'>
        {% endblock base_css %}

        {% block extra_css %}{% endblock extra_css %}

        {% block base_js %}
            <script src="{% static 'js/vendor/jquery-1.11.1.min.js' %}" type="text/javascript"></script>
            <script src="{% static 'js/vendor/modernizr-2.6.2.min.js' %}"></script>
        {% endblock base_js %}

        {% block extra_js %}
        {% endblock extra_js %}
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <div class="pure-g">
            {% block top_bar %}
                {% block main_menu %}
                    <div class="pure-u-1">
                        <div class="custom-wrapper pure-g" id="menu">
                            <div class="pure-u-1 pure-u-md-3-12">
                                <div class="pure-menu">
                                    <a href="#" class="pure-menu-heading custom-brand">Brand</a>
                                    <a href="#" class="custom-toggle" id="toggle"><s class="bar"></s><s class="bar"></s></a>
                                </div>
                            </div>
                            <div class="pure-u-1 pure-u-md-6-12">
                                <div class="pure-menu pure-menu-horizontal custom-can-transform">
                                    <ul class="pure-menu-list">
                                        {% for item in menu %}
                                            <li class="pure-menu-item"><a href="/{% if item.1  %}pages/{% endif %}{{ item.0.lower }}" class="pure-menu-link">{{ item.0|title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="pure-u-1 pure-u-md-3-12">
                                <div class="pure-menu pure-menu-horizontal custom-menu-3 custom-can-transform">
                                    <ul class="pure-menu-list">
                                            {% if request.user.is_authenticated %}
                                                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                                                    <a id="menuLink1" class="pure-menu-link" href="#" rel="nofollow" class="pure-menu-link">{{ request.user.username }}</a>
                                                        <ul class="pure-menu-children">
                                                            <li class="pure-menu-item"><a class="pure-menu-link" href="/account/{{ request.user.username }}">View Profile</a></li>
                                                            <li class="pure-menu-item"><a class="pure-menu-link" href="{% url 'logout' %}?next={% firstof request.path '/' %}">Logout</a></li>
                                                        </ul>
                                                    </li>
                                            {% else %}
                                                <li><a class="ajax-popup-link" rel="nofollow" href="{% url 'popup_login' %}?next={% firstof request.path '/' %}" class="pure-menu-link">Login</a></li>
                                            {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endblock main_menu %}
            {% endblock top_bar %}

            <div class="pure-u-1 m-wrap">
                <main class="pure-u-1 pure-u-lg-9-12 content">
                    {% block message %}
                        <div class="pure-u-1" id="message"></div>
                    {% endblock message %}
                    {% block main %}
                        {% block heading %}{% endblock heading %}
                        {% block content %}{% endblock content %}
                    {% endblock main %}
                </main>
                <aside class="pure-u-1 pure-u-lg-3-12">
                    {% block sidebar %}{% endblock sidebar %}
                </aside>
            </div>
        </div>

        <footer>{% block footer %}{% endblock footer %}</footer>

        {% block base_body_js %}
            <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js"><\/script>')</script>
            <script src="{% static 'js/vendor/jquery.magnific.popup.min.js' %}"></script>
            <script src="{% static 'js/plugins.js' %}"></script>
            <script src="{% static 'js/main.js' %}"></script>
            <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
            <script>
                (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
                function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
                e=o.createElement(i);r=o.getElementsByTagName(i)[0];
                e.src='//www.google-analytics.com/analytics.js';
                r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
                ga('create','UA-XXXXX-X');ga('send','pageview');
            </script>
        {% endblock base_body_js %}
    </body>
</html>