{% extends "base.html" %}
{% load thumbnail %}
{% load seo %}

{% block meta_data %}{% get_metadata_from_str "View profile" "" viewuser.get_full_name %}{% endblock meta_data %}
{% block page_title %}View {{ viewuser.get_full_name|default:viewuser.username }}'s profile{% endblock page_title %}

{% block main_full_width %}
    <div class="pure-u-1 profile">
        <h2>{{ viewuser.get_full_name|default:viewuser.username }}</h2>
        <p class="prof-img">
            {% if viewuser.avatar %}
                {% thumbnail viewuser.avatar "300x200" as im %}
                    <img class="circle" src="{{ im.url }}">
                {% endthumbnail %}
            {% else %}
                {% thumbnail options.DEFAULT_AVATAR "300x200" as im %}
                    <img class="circle" src="{{ im.url }}">
                {% endthumbnail %}
            {% endif %}
        </p>
    </div>
    <div class="pure-u-1">
        <table class="pure-table">
            <tr>
                <td class="lbl">Location</td>
                <td class="val">{{ viewuser.location }}</td>
            </tr>
            <tr>
                <td class="lbl">About</td>
                <td class="val">{{ viewuser.about }}</td>
            </tr>
        </table>
    </div>
{% endblock main_full_width %}
