{% block footer %}
    {% block footer_links %}
        <nav id="footer_links" class="pure-u-1 pure-u-sm-4-12">
            {% with "nofollow" as follow %}
                {% include "nav_links.html" %}
            {% endwith %}
        </nav>
    {% endblock footer_links %}
        <p class="pure-u-1 pure-u-sm-6-12">We strive to educate & help others make right & informed decisions.</p>
    {% block footer_share %}
        <div class="social-btns pure-u-sm-2-12">
            <a href="{{ options.SITE_FACEBOOK_URL }}" class="icon-facebook2"></a>
            <a href="{{ options.SITE_TWITTER_URL }}" class="icon-twitter2"></a>
            <a href="{{ options.SITE_GOOGLEPLUS_URL }}" class="icon-google-plus2"></a>
        </div>
    {% endblock footer_share %}
    {% block footer_copy %}
        <p class="pure-u-1">Copyright &copy; VASA Enterprise</p>
    {% endblock footer_copy %}
{% endblock footer %}